<% if @post.comments.length > 0 %>
  <p>
    <strong>Comments:</strong>
    <ul id="comments">
      <% @post.comments.each do |comment| %>
        <%= render partial: "comments/comment", locals: {comment: comment} %>
      <% end %>
    </ul>
  </p>
<% end %>

<%= render "comments/form", comment: @post.comments.new %>

<hr />
